{% extends 'base.html.twig' %}
{% block body %}
    {% include 'formCDN.html.twig' %}
    <div class="text-center text-white w-full">
        <h1 class="text-2xl font-bold  w-full mb-5">Vente CRUD</h1>
        <table class="w-full tablesorter" id="my_table">
            <thead>
            <tr class="border-2 border-grey-300">
                <th class="border-2 border-grey-300 pt-2 pb-2"><div class="flex justify-start items-center"><span class="flex w-10/12 justify-center items-center ml-3 text-center">Id</span> <span class=" flex justify-end items-center mr-3"><i class="fas fa-sort"></i></span></div></th>
                <th class="border-2 border-grey-300 pt-2 pb-2"><div class="flex justify-start items-center"><span class="flex w-10/12 justify-center items-center ml-3 text-center">DateDebut</span> <span class=" flex justify-end items-center mr-3"><i class="fas fa-sort"></i></span></div></th>
                <th class="border-2 border-grey-300 pt-2 pb-2"><div class="flex justify-start items-center"><span class="flex w-10/12 justify-center items-center ml-3 text-center">actions</span> <span class=" flex justify-end items-center mr-3"><i class="fas fa-sort"></i></span></div></th>
            </tr>
            </thead>
            <tbody>
            {% for vente in ventes %}
                <tr class="border-2 border-grey-300">
                    <td class="border-2 border-grey-300 pt-2 pb-2">{{ vente.id }}</td>
                    <td class="border-2 border-grey-300 pt-2 pb-2">{{ vente.dateDebut ? vente.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="border-2 border-grey-300 pt-2 pb-2">
                        <div class="flex justify-center items-center">
                            <a class="justify-center items-center text-center text-white mr-2 bg-white bg-opacity-10 rounded-full p-1.5 border border-white"
                               href="{{ path('vente_show', {'id': vente.id}) }}"><i class="fas fa-eye"></i></a>
                            <a class="justify-center items-center text-center text-white ml-2 mr-2 bg-white bg-opacity-10 rounded-full p-1.5 border border-white"
                               href="{{ path('vente_edit', {'id': vente.id}) }}"><i class="fas fa-wrench"></i></a>
                            {{ include('vente/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr class="border-2 border-grey-300 text-xl">
                    <td class="pt-5 pb-5" colspan="3">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="w-full mt-10">
            <a class="bg-bcc-green p-3 w-32 justify-center items-center text-center text-xs text-white rounded shadow"
               href="{{ path('vente_new') }}">Créer vente</a>
        </div>
    </div>
{% endblock %}