{% extends 'base.html.twig' %}
{% block body %}
    {% include 'formCDN.html.twig' %}
    <div class="text-center text-white w-full">
        <h1 class="text-2xl font-bold  w-full mb-5">Paiement CRUD</h1>
        {% include '/_partial/_paginate.html.twig' %}
        <table class="w-full tablesorter" id="my_table">
            <thead>
            <tr class="border-2 border-grey-300">
                {% for attr in tabAttributes %}
                    <th class="border-2 border-grey-300 pt-2 pb-2">
                        <div class="flex justify-start items-center"><span
                                    class="flex w-10/12 justify-center items-center ml-3 text-center">{{ attr }}</span>
                            <span
                                    class=" flex justify-end items-center mr-3"><i class="fas fa-sort"></i></span></div>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for paiement in paiements %}
                <tr class="border-2 border-grey-300">
                    <td class="border-2 border-grey-300 pt-2 pb-2">{{ paiement.id }}</td>
                    <td class="border-2 border-grey-300 pt-2 pb-2">{{ paiement.typePaiement }}</td>
                    <td class="border-2 border-grey-300 pt-2 pb-2">{{ paiement.validationPaiement ? 'Yes' : 'No' }}</td>
                    <td class="border-2 border-grey-300 pt-2 pb-2">
                        <div class="flex justify-center items-center">
                            <a class="justify-center items-center text-center text-white mr-2 bg-white bg-opacity-10 rounded-full p-1.5 border border-white"
                               href="{{ path('paiement_show', {'id': paiement.id}) }}"><i class="fas fa-eye"></i></a>
                            <a class="justify-center items-center text-center text-white ml-2 mr-2 bg-white bg-opacity-10 rounded-full p-1.5 border border-white"
                               href="{{ path('paiement_edit', {'id': paiement.id}) }}"><i class="fas fa-wrench"></i></a>
                            {{ include('paiement/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr class="border-2 border-grey-300 text-xl">
                    <td class="pt-5 pb-5" colspan="4">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include '/_partial/_paginate.html.twig' %}
        <div class="w-full mt-10">
            <a class="bg-bcc-green p-3 w-32 justify-center items-center text-center text-xs text-white rounded shadow"
               href="{{ path('paiement_new') }}">Créer paiement</a>
        </div>
    </div>
    <script src="{{ asset('js/sortingTable.js') }}"></script>
{% endblock %}