<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bid card coin !{% endblock %}</title>
    <meta name="description" content="Application Bid Card Coin, developed by Andy Cinquin">
    <link rel="icon" type="image/svg" href="{{ asset("images/charteGraphique/logo.svg") }}"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ asset('css/iconate.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.5/vivus.min.js"></script>
    <script src="{{ asset('js/iconate.min.js') }}"></script>

    {# <link type="text/javascript" href="{{ asset('js/iconate.min.js') }}"> #}

    {% block stylesheets %}

    {% endblock %}
    {% block javascripts %}

    {% endblock %}
</head>
<body>
<form action="">
    <div class="sticky top-0 bg-gray-700 text-sm text-white">
        <ul class="w-full flex justify-evenly items-center">
            <li class="flex justify-center items-center h-full p-2 w-1/6"><a href=""
                                                                             class="flex justify-center items-center"><img
                            src="{{ asset('images/charteGraphique/logo.svg') }}" alt="logo"
                            class="h-10"></a>
                <a href="" class="flex items-center h-full w-full justify-center">Bid Card Coin !</a>
            </li>
            <div class="w-4/6 flex">
                <li class="bg-gray-800 w-5/6 h-full p-2 border border-black border-opacity-25">
                    <input type="text"
                           name="rechercher"
                           id="rechercher"
                           class="w-full bg-transparent focus:outline-none">
                </li>
                <li class="bg-gray-800 w-1/6 h-full p-2 border border-black border-opacity-25 relative">
                    <button type="button" onclick="(
                        function(){
                            flagNav ? (
                                    function(){
                                        iconate(iconElementNav, optionsNavDownToUp);
                                        flagNav=false;
                                    })()
                                : (
                                    function(){
                                        iconate(iconElementNav, optionsNavUpToDown);
                                        flagNav=true;
                                    })();
                            dropdown.classList.toggle('hidden');
                        })()" class="focus:outline-none text-center flex justify-evenly items-center w-full "
                            id="options-menu" aria-expanded="true" aria-haspopup="true">
                        <span>
                            Catégories
                        </span>
                        <span>
                            <i class="fas fa-angle-down" id="categorieIcon"></i>
                        </span>
                    </button>
                    <div class="origin-bottom-right absolute right-0 top-5 mt-4 w-52 rounded shadow bg-gray-800 border border-black border-opacity-25 focus:outline-none hidden"
                         role="menu" aria-orientation="vertical" aria-labelledby="options-menu" id="dropdown">
                        <div class="py-1" role="none">
                            <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-900 hover:text-gray-100"
                               role="menuitem">Menu item 1</a>
                            <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-900 hover:text-gray-100"
                               role="menuitem">Menu item 2</a>
                            <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-900 hover:text-gray-100"
                               role="menuitem">Menu item 3</a>
                            <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-900 hover:text-gray-100"
                               role="menuitem">Menu item 4</a>
                            {# <form method="POST" action="#" role="none"> #}
                            {# <button type="submit" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem"> #}
                            {# Sign out #}
                            {# </button> #}
                            {# </form> #}
                        </div>
                    </div>
                </li>
            </div>
            <li class="w-1/6 flex justify-center items-center">
                <button type="submit"
                        class="bg-blue-600 p-3 justify-center items-center text-center text-xs text-white rounded">
                    Rechercher
                </button>
            </li>
        </ul>
        <nav class="h-10 bg-gray-800 w-full">
            h
        </nav>
    </div>
</form>
<div class="flex items-center justify-center w-full">
    <i id="iconeTest" class="fa fa-bars fa-lg"></i>
</div>
{% block body %}{% endblock %}
<script type="text/javascript" src="{{ asset('js/nav.js') }}"></script>
</body>
</html>
