{% form_theme form 'theme/themebcc.html.twig' %}
{{ form_start(form,{
    label: false,
    attr:{'class': 'w-full flex justify-center items-center flex-wrap text-white'}
}) }}
    {{ form_row(form.autobot) }}
    {{ form_row(form.montantMax) }}
    {{ form_row(form.dateCreation) }}
    {{ form_row(form.UserOrdreAchat) }}
    {{ form_row(form.lotOrdreAchat) }}
<div class="w-full justify-center items-center m-3">
    <button class="bg-bcc-green p-3 w-32 justify-center items-center text-center text-xs text-white rounded shadow">
        {{ button_label|default('Save') }}
    </button>
</div>
<div class="hidden">
    {{ form_row(form._token) }}
</div>